<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width:600"></div>
            <div class="card-header"></div>
            <img src="/img/logo.png" alt="" class="card-img-top mx-auto m-2 rounded-circle" style="width:150px; height: 150px; display: block">
            <H3 class="text-uppercase text-center p-4">CRUD Node JS Y MySQL</H3>
        </div>

        <div class="card-body text-center">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ut magnam recusandae quisquam nisi nostrum vitae facere similique animi, asperiores eveniet accusantium hic obcaecati culpa totam aliquam id, labore quos?</p>
            <a href="" class="btn btn-primary">Crear Una Persona</a>

        </div>
    </div>
</main>