    <style>
            .container {
            text-align: center;
            box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        h1 {
            font-size: 2.5em;   
            margin-bottom: 0.5em;
            color: #4CAF50;
        }
        h2 {
            font-size: 2em;
            margin-bottom: 0.5em;
            color: #333;
        }
        p {
            font-size: 1.2em;
            color: #555;
            line-height: 1.6;
        }
        nav a {
            margin: 0 1em;
            text-decoration: none;
            font-size: 1.2em;
            color: #4CAF50;
        }
    </style>
    <br>
</br>
<br>
</br>
<div class="container" id="content">
    <h1>Wall-e Toys</h1>
    <h2>Misión</h2>
    <p>En <strong>Wall-e Toys</strong>, nuestra misión es fomentar la creatividad, la imaginación y la alegría en los niños a través de juguetes innovadores, seguros y educativos. Nos comprometemos a ofrecer productos de alta calidad que inspiren el juego y el aprendizaje en un entorno seguro y divertido, contribuyendo así al desarrollo integral de los más pequeños.</p>
    <nav>
        <a href="/quienes-somos">Quiénes somos</a>
        <a href="/vision">Visión</a>
    </nav>
</div>