    <style>
           .container {
            text-align: center;
            box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        h1 {
            font-size: 2.5em;   
            margin-bottom: 0.5em;
            color: #4CAF50;
        }
        h2 {
            font-size: 2em;
            margin-bottom: 0.5em;
            color: #333;
        }
        p {
            font-size: 1.2em;
            color: #555;
            line-height: 1.6;
        }
        nav a {
            margin: 0 1em;
            text-decoration: none;
            font-size: 1.2em;
            color: #4CAF50;
        }
    </style>
</head>
<body>

<div class="container" id="content">
    <h1>Wall-e Toys</h1>
    <h2>Quiénes Somos</h2>
    <p>Somos <strong>Wall-e Toys</strong>, una juguetería apasionada por la infancia y el desarrollo infantil. Fundada por un equipo de entusiastas del juego y la educación, nos dedicamos a seleccionar y ofrecer una amplia gama de juguetes que no solo entretienen, sino que también educan y estimulan el crecimiento de los niños. En <strong>Wall-E Toys</strong>, creemos en la importancia del juego en el desarrollo de habilidades sociales, emocionales y cognitivas, y trabajamos para proporcionar las mejores herramientas para que los niños aprendan y se diviertan al mismo tiempo.</p>
    <nav>
       <a href="/mision">Misión</a>
        <a href="/vision">Visión</a>
    </nav>
</div>

</body>
</html>