    <style>
        
         .container {
            text-align: center;
            box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        h1 {
            font-size: 2.5em;   
            margin-bottom: 0.5em;
            color: #4CAF50;
        }
        h2 {
            font-size: 2em;
            margin-bottom: 0.5em;
            color: #333;
        }
        p {
            font-size: 1.2em;
            color: #555;
            line-height: 1.6;
        }
        nav a {
            margin: 0 1em;
            text-decoration: none;
            font-size: 1.2em;
            color: #4CAF50;
        }
    </style>
</head>
<body>

<div class="container" id="content">
    <h1>Wall-e Toys</h1>
    <h2>Visión</h2>
    <p>Nuestra visión en <strong>Wall-e Toys</strong> es convertirnos en la juguetería preferida de las familias, siendo reconocidos por nuestra dedicación a la calidad, la innovación y el servicio al cliente. Aspiramos a expandir nuestra presencia a nivel nacional e internacional, promoviendo el juego creativo y educativo que prepara a los niños para un futuro brillante.</p>
    <nav>
        <a href="/quienes-somos">Quiénes somos</a>
        <a href="/mision">Misión</a>
    </nav>
</div>

</body>
</html>