<footer class="footer bg-dark text-white fixed-bottom" style="border-top: 20px; min-height: 50px;">
  <div class="container text-center">
      <span>© 2024 Walle Corporations. Todos los derechos reservados.</span>
    </div>
  </footer>
</div>

