<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase"> Crear Nueva Persona</h3>
                </div>
                    <div class="card-body">
                        <form action="/add" method="post" enctype="multipart/form-data">

                        <div class="input-group mt-2">
                            <label for="name" class="input-group-text"> Nombre </label>
                            <input class="form-control" type="text" name="name" id="name" placeholder="Nombres" autofocus required >
                        </div>

                        <div class="input-group mt-2">
                            <label for="lastname" class="input-group-text"> Apellido </label>
                            <input class="form-control" type="text" name="lastname" id="lastname" placeholder="Apellidos" autofocus required >
                        </div>

                        <div class="input-group mt-2">
                            <label for="age" class="input-group-text"> Edad </label>
                            <input class="form-control" type="number" name="age" id="age" placeholder="Poner Edad en Numero" autofocus required >
                        </div>
                        <div class="input-group mt-2">
                            <label for="observacion" class="input-group-text"> Observación </label>
                            <input class="form-control" type="text" name="observacion" id="observacion" placeholder="Poner Una Observación" autofocus required >
                        </div>
                        <div class="input-group mt-2">
                            <label for="imagen" class="input-group-text">Imagen</label>
                            <input class="form-control" type="file" name="file">
                        </div>

                        <div class="form-group mt-4 d-grid gap-2">
                            <button class="btn btn-success"> Crear </button>
                        </div>
                    </div>   
                        </form>                    
                </div>
            </div>
        </div>
    </div>      
</div>